apiVersion: apps/v1
kind: Deployment
metadata:
  name: wil-playground
  namespace: dev
#  labels:
#    app: wil-playground
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wil-playground
  template:
    metadata:
      labels:
        app: wil-playground
    spec:
      containers:
        - name: wil-playground
          image: wil42/playground:v2 
 #         imagePullPolicy: Always
 #         ports:
 #           - containerPort: 8888
---
apiVersion: v1
kind: Service
metadata:
  name: wil-playground-service
  namespace: dev
spec:
  selector:
    app: wil-playground
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8888